.profil-background {
  background: url(../images/bg-profil.jpg) no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
}
.profil-background h1 {
  color: #fff;
}

.profil-img {
  height: 175px;
  width: 175px;
  border: 1px solid #fafafa;
  border-radius: 3px;
  position: absolute;
  top: 10px;
}
.profil-socmed {
  font-size: 24px;
}

.profil-socmed a {
  color: #fff;
  cursor: pointer;
}

.profil-socmed a:hover {
  color: #ff0000;
}
.profil-socmed .btn:hover {
  color: #fff;
}

.profil-content {
  margin-top: 45px;
}

.profil-row {
  margin-bottom: 20px;
}

.profil-pencapaian {
  margin-bottom: 10px;
}

.floating-label {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 14px;
}

.floating-btn {
  float: right;
  margin-top: 4px;
}

.col-centered {
	float: none;
	margin: auto;
}

.title-color {
  color: #ff0000;
}

.content-color {
  color: #545454;
}

/* Kandidat Styles */
.container-profil {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navbar-portal {
  /*background-color: #000;*/
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  margin-bottom: 0;
}

.navbar-portal .navbar-brand {
  padding: 10px 15px;
  height: auto;
}

.navbar-portal .navbar-brand img {
  height: 40px;
}

.navbar-portal .nav li a{
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.side-profil {
  margin-top: 20px;
}

.side-profil .nav li a {
  border-radius: 0;
  border-left: 5px solid #fff;
  color: #000;
  padding: 5px 15px 5px 5px;
  font-weight: 900;
}

.side-profil .nav li.active a {
  color: #ff0000;
  background-color: #fff;
  border-left-color: #ff0000;
}

.side-profil .nav li a:hover {
  background-color: #fff;
  color: #ff0000;
}

.btn-profil-primary {
  background: #ff0000; /* Old browsers */
  background: -moz-linear-gradient(top, #ff0000 0%, #b70000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff0000 0%,#b70000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff0000 0%,#b70000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  background-repeat: repeat-x;
  border-color: #C40600;
}

.btn-profil-primary:hover {
  background-color: #b70000;
  background-position: 0 -15px;
  color: #fff;
}

a.btn-profil-flat, .btn-profil-flat {
  background-color: #ff0000;
  border-radius: 0;
  color: #fff;
}
a.btn-profil-flat:hover, .btn-profil-flat:hover {
  background-color: #b70000;
  color: #fff;
}

/* overwrite bootstrap-tagsinput */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  clear: both;
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

h1, h2, h3 {
  color: #ff0000;
}

hr {
  margin-top: 0;
}